body {
  background-color: rgb(223, 223, 223);
  height: 100%;
  padding: 1.6rem;
  font-family: sans-serif;
}

button {
  height: 40px;
  padding: 0 32px 0 32px;
  background: rgb(0, 145, 234);
  color: white;
  border-radius: 12px;
  font-size: 18px;
  border: none;
  box-shadow: 0px 12px 16px hsla(203, 100%, 15%, 0.24);
}

#editor {
  background-color: white;
  margin: 40px 0 40px 0;
}
